<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Connect4</title>
     <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="logo text-light">Connect4</div>
        <div class="actions">
            <a href="@Url.Action("/", "Home")" class="btn btn-green">Inicio</a>
            <a href="@Url.Action("Index", "Players")" class="btn btn-blue">Ver Jugadores</a>
            <a href="@Url.Action("Index", "Games")" class="btn btn-cyan">Registro de partidas</a>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Proyecto Connect4</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
